//GRID

$grid-width: 114rem;
$gutter-vertical: 12rem;
$gutter-horizontal: 1rem;

//FONT
///////GLOBAL VAR NOW///////
$section-title-font-size: 4.1rem;
///////GLOBAL VAR END///////

$nav-font-size: 1.1rem;
$nav-button-font-size: 1.3rem; 
//////////////////////////////
$header-button-font-size: 1.7rem;
$header-sub-title-font-size: 2.1rem;
///////////////////////////////////
$menu-card-title-font-size: 1rem;
$menu-card-price-font-size: 0.9rem;
$menu-button-font-size: 1.1rem;
////////////////////////////////
$delivery-text-font-size: 1.9rem;
$delivery-button-font-size: 1.8rem;
////////////////////////////////////
$contacts-questions-title-font-size: 2.1rem;
$contacts-questions-input-font-size: 2.1rem;
$contacts-button-font-size: 1.5rem;
$contacts-map-font-size: 1.7rem;
////////////////////////////////
$footer-font-size: 1rem;
$footer-button-font-size: 1.6rem;
$footer-telephone-title-font-size: 1.6rem;
////////////////////////////////////
$form-title-font-size: 2.7rem;
$form-input-font-size: 2.4rem;
$form-button-font-size: 2.5rem;
$form-thx-title-font-size: 2.1 rem;
$form-thx-text-font-size: 2.1 rem;

// COLOR

$brown: #8e4c19;
$blue: #2e23bc;
$dark-gray: #1e1d1d;
$red: #ff0000;