.btn {
	height:100%;
	width:100%;
	background-color: white;
	border: none;
	font-size: 1.7rem;
	border-radius: 0.5rem;
	&:hover {
		transform: translateY(-0.35rem);
		box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}
	&:active,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		transition: all .2s;
		position: relative;
		font-size: 2rem;
	}
	&:active {
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 0.1rem rgba(0,0,0,.2) 
	}
	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 0.6rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}
	&--blue {
		background-color: blue;
		color: pink;
		&::after {
			background-color: blue;
			opacity: 1;
			}
	}
	&--red {
		background-color: red;
		color: white;
		&::after {
			background-color: blue;
			opacity: 1;
			}
	}
	&--animated {
		animation: moveInButton .5s ease-out .75s;
		animation-fill-mode: backwards;
	}
	a {
		color: pink;
	}
}
