.contacts {
	display:table;
	height: auto;
	width: 100%;
	position: relative;
	background-color: $dark-gray;
	padding-bottom: 13.5rem;
	padding-top: 9rem;
	@media (max-width: 500px) {
		display: flex;
		flex-direction: column-reverse;
	}
	&__left {
		display: table-cell;
		width: 59%;
		vertical-align: top;
		position: relative;
		padding-left: 3rem;
		.contacts-map {
			height: 45rem;
			width: 67rem;
			background-color:white;
			float: right;
			margin-left: 3rem;
			margin-right: 3.5rem;
		}
		@media (max-width: 900px) {
			width: 100%;
			.contacts-map {
				margin: 2.3rem auto;
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
	&__right {
		display: table-cell;
		width: 39%;
		vertical-align: top;
		float: left;
		.contacts-form {
			margin-right: 3rem;
			font-size: 1.8rem;
			background-color: white;
		    min-width: 37rem;
			text-align: center;
			margin-left: 3.5rem;
			&__group {
				max-width: 30rem;
				margin: 0 auto;
			} 
			&__title {
				color: black;
				font-weight: 900; 
				font-size: 1.5rem;
				padding-top: 4rem;
				padding-bottom: 4.5rem;
			}
			&__input {
				height: 6rem;
				width: 100%;
				font-size: 2rem;
				padding-left: 3.7rem;
			}
			&__field {
				padding-bottom: 1rem;
			}
			&__button {
				height: 8.5rem;
				width: 100%;
				background-color: $brown;
				font-size: 2.4rem;
				border-radius: 0.7rem;
				margin-bottom: 4.2rem;
				a {
					color: pink;
					text-transform: uppercase;
					text-decoration: none;
				}
			}
		}
		@media (max-width: 900px) {
			.contacts-form {
				margin-right: 0;
			}
		}
		@media (max-width: 430px) {
			width: 100%;
			.contacts-form {
				//min-width: auto;
				margin-left: 1.2rem;
				margin-right: 0;
			}
		}
		@media (max-width: 400px) {
			width: 100%;
			.contacts-form {
				min-width: auto;
			}
		}
	}
}
