.section-menu {
	display:block;
	position: relative;
	background-color: $dark-gray;
	padding-bottom: 13.5rem;
	padding-top: 9rem;
	h3 {
		padding-left: 3.3rem;
		padding-bottom: 7.9rem;
	}
	@media (max-width: 420px) {
		height: 125rem;
		padding-top: 3.9rem;
		.heading-secondary {
			font-size: 1.8rem;
			padding-bottom: 5.5rem;
		}
	}
	.card {
		display: inline-block;
		position: relative;
		height: 25rem;
		width: 18rem;
		color: black;
		border: 1px solid $dark-gray;
		border-radius: 0.4rem;
		text-align: center;
		transition: transform .3s;
		&--col-1-of-1 {
			@media (max-width: 460px) {
				min-height: 495px;
				width: 100%;
			}
		}
		&__hide {
			@media (max-width: 420px) {
			  display: none;
			}
		}
		&:hover {
			box-shadow: 0 1.5rem 4rem rgba($dark-gray,.15);
			transform: translateY(-1.5rem) scale(1.03);
		} 
		&__image {
			display: block;
			height:15rem;
			width: 100%;
			@media (max-width: 420px) {
				height: 30rem;
				width: 100%;
			}
		}
		&__title {
			display: block;
			background-color: white;
			height: 2rem;
		}
		&__desc {
			display: block;
			background-color: white;
			height: 2rem;
		}
		&__button {
			display: block;
			height: 5.3rem;
			width: 100%;
			background-color: $blue;
			color: pink;
		}
	}
}